body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    background-image: url('images/2.jpg'); /* Set your background image here */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
}